/*
!.gitignore
!README.md
!makefile    # add !Makefile too if capitalized
!/src/
!/src/**

# ignore report build artifacts inside src/reporting
src/reporting/**/*_files/
src/reporting/**/_cache/
src/reporting/**/cache/
src/reporting/**/*.html
src/reporting/**/*.pdf
src/reporting/**/*.docx
